html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* .middle {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
} */

#content {
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}


#container {
    display: grid;
    grid-template-rows: 10% 90%;
    width: 60%;
    height: 80%;
}

#header {
    display: flex;
    color: blue;
    font-size: 26px;
    font-weight: 900;
}


#wrapper {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-column-gap: 5px;
    background: #ccc;
}
