<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<div >
    <!-- [hidden]="hidden" -->
  <form (submit)=onSubmit($event,form.value) #form="ngForm">

    <app-question *ngFor="let question of questions; let i=index">
        {{i+1}}. {{question.question}} <br>
      <input type='radio' ngModel [name]='question.name' [value]='question.value1' /> {{question.option1}}<br />
      <input type='radio' ngModel [name]='question.name' [value]='question.value2' /> {{question.option2}}<br />
      <input type='radio' ngModel [name]='question.name' [value]='question.value3' /> {{question.option3}}<br />
      <input type='radio' ngModel [name]='question.name' [value]='question.value4' /> {{question.option4}}<br /><br />
    </app-question>
    <button>Send Your Answers</button>
  </form>
</div>
<br>
<div id="grade" [hidden]="!hidden">
Grade = {{grade}} <br><br>
These are the answers: <br>
<span *ngFor="let answer of answers; let i=index">
{{i+1}}. {{answer}} <br>
</span>
</div>
<router-outlet></router-outlet>