<!-- Reactive Form -->

<div class="container">
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
        <label for="emailAdd">Email Address</label>
        <input type="email" id="emailAdd" class="form-control" formControlName="emailAddress">
        <span class="help-block"
            *ngIf="!forgotPasswordForm.get('emailAddress').valid && forgotPasswordForm.get('emailAddress').touched">Please
            enter a valid mail</span>
        <label for="emailAddVerify">Repeat Email Address</label>
        <input type="email" id="emailAddVerify" class="form-control" formControlName="validateEmailAddress">
        <span class="help-block"
            *ngIf="!forgotPasswordForm.get('validateEmailAddress').valid && forgotPasswordForm.get('validateEmailAddress').touched">Email
            is not fit exacly to the original mail address!</span>
        <button type="submit" class="btn btn-primary" [disabled]="!forgotPasswordForm.valid">Submit</button>
        <div id="links">
            <a routerLink="/index">Home</a>
        </div>

        <div *ngIf="unfitAddresses" id="unfitError" class="error-block">Mails are not fit each other!</div>
    </form>
</div>