
<fieldset style="width:50%">
        <legend>
            <h2> Registration Form </h2>
        </legend>

        <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()" >

            <fieldset formGroupName="personInformtion">
                <legend>
                    <h3>Person Informtion</h3>
                </legend>
                    First Name : <input type="text" name="fn" formControlName="fristName">
                    Last Name : <input type="text" name="ln" formControlName="lastName">
                    Age : <input type="number" name="age" formControlName="age">
            </fieldset>`
            <fieldset formGroupName="credentials">
                <legend>
                    <h3> Credentials </h3>
                </legend>
                User Name : <input type="text" name="un" formControlName="userName">
                Password : <input type="password" name="ps" formControlName="password">
            </fieldset>
            <fieldset formGroupName="contact">
                <legend>
                    <h3> Contact </h3>
                </legend>

                Tel : <input type="tel" name="tel" formControlName="tel">
                Email : <input type="email" name="email" formControlName="email">
            </fieldset>
            <fieldset formGroupName="misc">
                <legend>
                    <h3> Misc </h3>
                </legend>

                Comments :<textarea type="text" cols="50" rows="5" name="comm" formControlName="comments"> </textarea>
                <br> Hobbies : <input list="Hobbies" name="hob" formControlName="hobbies">
            </fieldset>
            <datalist id="Hobbies">
                <option value="hobby1">
                <option value="hobby2">
                <option value="hobby3">
                <option value="hobby4">
                <option value="hobby5">
            </datalist>
            <input type="submit" value="Regist">
        </form>
    </fieldset>
