body {
    background: #70ccff;
  }
  
  #primary-image-container {
    position: relative;
    left: 5%;
    right: 5%;
    width: 90%;
    height: 50%;
    margin-top: 1%;
    display: flex;   
    flex-direction: row;  
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    border: 4px dashed #cc7a00;
    background: #ffffbd; 
  }
  
  .arrow-near-main-image {
    width: 10%;
    height: 5%;
    border: 2px dotted #2952c2;
  }
  .arrow-near-main-image:hover {
    background: #cc701f;
    /* width: 11%; */
    opacity: 0.5;
  }
  
  #main-image {
    width: 500px;
    height: 400px;
    border: 3px solid #004d99;
    z-index: 100;
    opacity: 1;
    transition: opacity 1s;
  }
  
  
  #slide-images-container {
    position: relative;
    left: 20%;
    right: 20%;
    width: 60%;
    margin-top: 2%;
    display: flex;    
    flex-direction: row;  
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    border: 3px dotted #3069f2;
    background: #ccffcc;
    
  }
  
  
  .arrow-near-slide-images {
    width: 80px;
    height: 30px;
  }
  
  .image-in-slide {
    width: 100px;
    height: 100px;
  }
  
  
  .flex-item {
    align-content: center;
    margin: 1%;
    background:#e6e6e6; 
  
  }
  