
 <form (ngSubmit)="onSubmit()">

<div class="form-group">
<label for="name">Nmae</label> 
<input type="text" [(ngModel)]="person.name" class="form-control" id="name" required name="name"/>
</div>

<div class="form-group">
<label for="lastName">Last Nmae</label> 
<input type="text" [(ngModel)]="person.lastName" class="form-control" id="lastName" required name="lastName"/>
</div>

<div class="form-group">
<label for="age">Age</label> 
<input type="text" [(ngModel)]="person.age" class="form-control" id="age" required name="age"/>
</div>


<div class="form-group">
<label for="age">hobbies</label> 
<select name="hobbies" id="hobbies" class="form-control">
  <option selected disabled hidden>choosh</option>
  <option *ngFor="let hobbie of person.hobbies">
    {{hobbie}}
  </option>
</select>
</div>


<div class="form-group">
<label for="userName">User Name</label> 
<input type="text" [(ngModel)]="user.userName" class="form-control" id="userName" required name="userName"/>
</div>


<div class="form-group">
<label for="password">Password</label> 
<input type="text" [(ngModel)]="user.name" class="form-control" id="password" required name="password"/>
</div>

<div class="form-group">
<label for="phone">Phone</label> 
<input type="text" [(ngModel)]="user.phone" class="form-control" id="phone" required name="phone"/>
</div>

<div class="form-group">
<label for="email">Email</label> 
<input type="text" [(ngModel)]="user.email" class="form-control" id="email" required name="email"/>
</div>

<div class="form-group">
<label for="comments">Comments</label> 
<textarea  cols="4" rows="5" [(ngModel)]="comments" class="form-control" id="comments" required name="comments"></textarea>
</div>

<button type="button" class="btn btn-default">Submmit</button>


</form>
