<div class="sml-img-wrapper">
  <div class="box" [ngClass]="{'clicked': clicked}"
  [style.width.px]="likeAmount > 10 ? '220' : '200'" 
  [style.height.px]="likeAmount > 10 ? '198' : '180'"
  [style.height.px]="likeAmount === 0 ? '162' : '180'"
  [style.width.px]="likeAmount === 0 ? '180' : '200'">
    <img class="image" [src]="src" (click)="imgClicked()">
    <div class="box-footer">
        <button (click)="addlike()" class="like-buttons">
          <img class="like-img" src="../../assets/images/like.png">{{likeAmount}}
        </button>
        <a routerLink="author/{{author}}"><h2 class="author">{{author}}</h2></a>
        <!-- <div class="amount-of-likes">{{likeAmount}}</div> -->
    </div>
  </div>
</div>