<div class="display-car-license-wrapper">
  <form (submit)="display($event)">
    <input type="text" placeholder="enter license number..." #license>
    <input type="submit" value="display">
  </form>
</div>
<div *ngIf="car">
  <div *ngFor="let item of car">
    <div>license number : {{item.license}}</div>
    <div>manufacturer : {{item.manufacturer}}</div>
    <div>model : {{item.model}}</div>
    <div>year : {{item.year}}</div>
    <div>km : {{item.km}}</div>
    <div>price : {{item.price}}</div>
  </div>
</div>