<div class="container">
    <div class="row">
        <div class="col">
            <h1>Sign Up</h1>
            <form #IndexForm="ngForm">
                <div class="form-group">
                    <label for="fullname">fullname</label>
                    <input class="form-control" type="text" placeholder="Full Name" name="fullname" id="fullname" required
                        [(ngModel)]="model.fullname">
                    <input class="form-control" type="email" placeholder="Email" name="email" id="email" required [(ngModel)]="model.email">
                    <input class="form-control" type="number" min="18" max="32" placeholder="Age" name="Age" id="Age" required
                        [(ngModel)]="model.Age">
                    <input class="form-control" type="text" name="username" id="username" placeholder="User Name" maxlength="10" required
                        [(ngModel)]="model.username">
                    <input class="form-control" type="password" placeholder="Password" name="password" id="password" required
                        [(ngModel)]="model.password">

                    <button type="submit" class="btn btn-success d-block my-3">Submit</button>
                    <button type="reset" class="btn btn-warning d-block my-3">Reset</button>
                    <button routerLink="../index-form-comp" class="btn btn-dark d-block my-3">Back to sign in</button>
                </div>
            </form>
        </div>
    </div>
</div>