#books {
    background-color: bisque;
    float: left;
    width: 80%;
    position: relative;
}
#addBook {
    background-color: gray;
    height: 100%;
    width: inherit;
    margin: 0px auto;
    position: fixed;
    top: 10px;
    left: 80%;
}

.book {
    padding: 5px;
    border-style: solid;
    border-width:1px;
}
form {
    margin: 10px 10px 10px 10px;
}
