ul{
    list-style-type:none

}
li{
    float: right;
    padding-left: 25px;
}
.header{
    background-color: black;
    color: white;
    padding: 20px;
}

.header-list{
    display: flex;
    justify-content: flex-end;
}

a{
    color:white ;
}