<!-- <table border="1" id="shoppingCart">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Action</th>
        </tr>
        <tr>
            <td>
                <select id="products">
                    <option id="option0" value="tomatos">Tomatos</option>
                    <option id="option1" value="carrots">Carrots</option>
                </select>
            </td>
            <td>
                <input id="price" type="number" #price min="0">
            </td>
            <td>
                <button (click)="addToCart(products[products.selectedIndex].value,price.value)">Add</button>
            </td>
        </tr>
        <tr *ngFor="let item of items;let i=index" id="{{i}}">
            <td>{{item.name}}</td>
            <td>{{item.price}}</td>
            <td><button (click)="removeFromCart($event)">Remove</button></td>
        </tr>
    </thead>
    <tbody id="customerProducts"></tbody>
    <tfoot>
        <tr id="lastRaw">
            <td style=text-align:center; colspan="3">Total price: {{totalPrice}}<span id="totalPrice"></span></td>
        </tr>
    </tfoot>
</table> -->

<div class="grid-container">
    <div id="cart">
        <app-cart-product *ngFor="let car of cart" [car]="car"></app-cart-product>
    </div>

    <div id="products-container">
    <app-product *ngFor="let product of products" [product]="product"></app-product>
    </div>
</div>
<div id="cart-footer">
    <h3 class="total-price">Total Price: {{BackEndService.totalPrice}}$</h3>
    <button [disabled]="BackEndService.totalPrice===0" class="procced-button" routerLink="payment">Procced to Checkout</button>
</div>