
img {
    cursor: pointer;
    display: block;
    margin: 10px auto;
}

.small{
    width: 60%;
    height: 60%;
}
.medium{
    width: 80%;
    height: 80%;
}

.large{
    width: 100%;
    height: 100%;
}

.imgBox{
    width: auto;
    border: 1px solid rgba(121, 24, 201, 0.836);
    background-color: rgba(0, 0, 0, 0.815);
    padding: 5px;
}

#likeBtn{
    background-color: rgb(204, 198, 198);
    border-radius: 10px;
}

#like{
    color: white;
    margin: 0 5px;
}


   
   