
img {
    cursor: pointer;
    display: block;
    margin: 10px auto;
}

.small{
    width: 60%;
    height: 60%;
}
.medium{
    width: 80%;
    height: 80%;
}

.large{
    width: 100%;
    height: 100%;
}

.imgBox{
 border: 1px solid lightsalmon;
 background-color: lightsalmon;
}

.imgBoxClicked{
    border: 2px solid maroon;
    background-color: lightsalmon;
   }

   .imgBoxClicked img{
    cursor: auto;
   }