<div class="quiz-container">
  <div class="quiz-body">
    <h2 class="body-title">{{quiz.quizName}}</h2>
    <p class="body-text">This quiz is about '{{quiz.quizName}}', after you get started, you will
      get a few seconds for each question, if time's up with no answer, you will get no points
    for this question and will be forwarded automaticlly to the next question. Have fun!</p>
  </div>
  <button class="quiz-btn" (click)="manageQuizsService.startQuiz(quiz.quizIndex)">Start Quiz</button>
</div>