.itube-body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin-top: 3px;
}

video {
  object-fit: inherit;
  width: 150px;
  height: 100px;
  border-radius: 10px;
  margin: 10px;
  transition: all .2s;
}

.big-vid-container {
  background: #2F2933;
  margin: 3px;
  width: 60%;
  height: 90%;
  border-radius: 10px;
  display: flex;
  align-items: center;
}


h1,
h2,
h3,
h4 {
  margin: 5px;
}

.vid-list {
  display: flex;
  flex-direction: column;
  height: 90%;
  width: 30%;
  overflow: auto;
  background: #2F2933;
  border-radius: 10px;
}

.vid-list video:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.video-container {
  display: flex;
  justify-content: space-around;
}

@media only screen and (max-width: 900px) {
  .big-vid-container {
    width: 100%;
  }

  .vid-list {
    width: 100%;
  }
}
