<div class="container">
  <div class="row">
    <div class="col">
      <h1>Forgot Password</h1>
      <form #IndexForm="ngForm">
        <div class="form-group">
            <input class="form-control" type="email" placeholder="Email" id="email" name="email" required [(ngModel)]="model.email">
            <input class="form-control" type="email" placeholder="Confirm email" id="cEmail" name="cEmail" required [(ngModel)]="model.Cemail">
            <button class="form-control" type="submit" class="btn btn-success d-block my-3">submit</button>
            <button class="form-control" routerLink="../index-form-comp" class="btn bg-secondary text-light my-3 d-block">Back to sign in</button>
        </div>  
      </form>
    </div>
  </div>