
  <div>
        <div class="big-pic">
            <div class="left-arrow arrows" (click)="showPreImg()">
                &lArr;
            </div>
            <div class="selected-img">
               <img [src]= "selectedImg">
            </div>
            <div class="right-arrows arrows" (click)="showNextImg()">
                &rArr;
            </div>
        </div>
        <div class="image_thumbnails">
            
                <img id = `img{{i}}` *ngFor = "let img of images;index as i" 
                       [src]= "img" class = "img-tumbnail" 
                       (click) = "showBigPic(i)" /> 
                          
        </div>
    </div>



<router-outlet></router-outlet>
