/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(217, 232, 236);
    position: relative;
}