.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
  }
  
.ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
}

.hideSpinners::-webkit-inner-spin-button{ 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}


.hideSpinners::-webkit-outer-spin-button{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0; 
}

.container{
  width: 400px;
  /* border: 2px solid black; */
  box-shadow: 0px 0px 28px -8px rgba(0,0,0,0.75);
  margin: 20px;
}