<div class="myApp">
  <h1>My Cars</h1>

  <div class="actions">
    <button (click)="addCar()">Add Car</button>
    <button (click)="display1()">display car details by license number</button>
    <button (click)="display2()">display cars details by year range</button>
    <button (click)="display3()">display cars models by manufacturer</button>
    <button (click)="display4()">
      display cars models and prices by model
    </button>
    <button (click)="displayExpensive()">
      receive two license numbers and display the car which is more expensive
    </button>
  </div>
  <mark> show result in console</mark>
</div>
