

    <form  (ngSubmit)="onSubmit()">
        <fieldset>
            <legend>Forgot Password </legend>
      <label for="email">Email</label>
      <input type="email" [formControl] = "email" required placeholder="Enter email"> <br>
      <label for="email_repeated"> Repeat Email</label>
      <input type="email" [formControl] = "emailRepeated" required placeholder="Repeat Email"> <br>
      <input type="submit" value="SUBMIT" [disabled] = "email.invalid && emailRepeated.invalid">
      <a [routerLink]="['/login-in']" routerLinkActive="router-link-active"  > GO TO INDEX </a>
    </fieldset>
    </form>







