<div class="container add-car-wrapper">
    <h2 class="text-center border-bottom border-dark">Add car</h2>
    <form class="row" (submit)="addCar($event)">
        <div class="col-md-4">
            <input type="text" placeholder="enter license number..." #license>
        </div>
        <div class="col-md-4">
            <input type="text" placeholder="enter manufacturer..." #manufacturer>
        </div>
        <div class="col-md-4">
            <input type="text" placeholder="enter model..." #model>
        </div>
        <div class="col-md-4">
            <input type="date" placeholder="enter year..." #year>
        </div>
        <div class="col-md-4">
            <input type="text" placeholder="enter km..." #km>
        </div>
        <div class="col-md-4">
            <input type="text" placeholder="enter price..." #price>
        </div>
        <div class="col-md-12">
            <input type="submit" value="add car">
        </div>
        <div class="col-md-12" *ngIf="msg">
            {{msg}}
        </div>
    </form>
</div>