/* You can add global styles to this file, and also import other style files */
*{
    box-sizing: border-box;
}
html,body{
    width:100%;
    height:100%;
    margin:0;
    padding: 0;
    background-color: #a29dc3;
} 