<div class="wrapper">
  <form #form="ngForm" (submit)=onSubmit(form)>
    <h2 *ngIf="submit">{{questionsService.correctAnswers}} of {{questionsService.questions.length}}</h2>
    <ul>
      <li *ngFor="let question of questionsService.questions; index as i">
        <app-question>
          <div>
            <h3>{{question.q}}</h3>
            <div *ngIf="submit && questionsService.isCorrectAnswer(optElem.value ,question);else Wrong">
              <p class="answerDiv true">
                Correct Answer!
              </p>
            </div>
            <ng-template #Wrong>
                <p class="answerDiv wrong" *ngIf="submit">
                  The Answer Is {{question[question.ans]}}!
                </p>
            </ng-template>
            <div class="options">
              <input type='radio' id="q-{{i+1}}-a-A" ngModel #optElem="ngModel" name='q{{i+1}}'
                value='{{question.op1}}' required />
              <label for="q-{{i+1}}-a-A">{{question.op1}} </label>
            </div>
            <div class="options">
              <input type='radio' id="q-{{i+1}}-a-B" ngModel name='q{{i+1}}' value='{{question.op2}' />
              <label for="q-{{i+1}}-a-B">{{question.op2}} </label>
            </div>
            <div class="options">
              <input type='radio' id="q-{{i+1}}-a-C" ngModel name='q{{i+1}}' value='{{question.op3}}' />
              <label for="q-{{i+1}}-a-C">{{question.op3}}</label>
            </div>
            <div class="options">
              <input type='radio' id="q-{{i+1}}-a-D" ngModel name='q{{i+1}}' value='{{question.op4}}' />
              <label for="q-{{i+1}}-a-D">{{question.op4}}</label>
            </div>
          </div>
        </app-question>
      </li>
    </ul>
    <input type='submit' name='submit' [disabled]="!form.form.valid" value='Submit' />
  </form>
</div>