<div id="wrapper">
    <div id="wrapper-time">
      {{timer}}
    </div>
  
    <div id="wrapper-controlls">
      <div id="wrapper-controlls-buttons">
        <button (click)="end ? onStartClicked() : ''" [disabled]="!isStartButtonEnabled" class="green">Start</button>
        <button (click)="onStopClicked()" [disabled]="!isStopButtonEnabled" class="red">Stop</button>
        <button (click)="onResetClicked()" [disabled]="!isResetButtonEnabled" class="blue">Reset</button>
      </div>
    </div>
  </div>