<div style="text-align:center">
  <div *ngFor="let person of people">
    <div *ngIf="person.isNormal; then isNormal else isNotNormal">
    </div>
    <ng-template #isNormal>
      <h3>{{person.name}} bloodPressure is normal {{person.bloodPressure}}</h3>
    </ng-template>
    <ng-template #isNotNormal>
      <h3>{{person.name}} bloodPressure is not normal {{person.bloodPressure}}</h3>
    </ng-template>
  </div>

  <div *ngFor="let person of people">
    <h3>{{person.name}} bloodPressure {{person.bloodPressure | normalbloodpressure}} {{person.bloodPressure}}</h3>
  </div>


</div>