<body>

  <div style="text-align:left">
    <h1 style="color: chocolate"> 
      <span style="color:darkgreen">
        <u>Author Name</u>:
      </span> 
      {{instushService.authorDataObj.name}} 
    </h1>

    <h1 style="color: chocolate"> 
      <span style="color:darkgreen">
        <u>Author ID</u>:
      </span> 
      {{instushService.authorDataObj.id}} 
    </h1>

    <h1 style="color: chocolate"> 
      <span style="color:darkgreen">
        <u> Author Profile Picture URL</u>:
      </span> 
      {{instushService.authorDataObj.profilePicURL}} 
    </h1>

    <h1 style="color: chocolate"> 
      <span style="color:darkgreen">
        <u>Author Facebook Profil URL</u>:
      </span> 
      {{instushService.authorDataObj.facebookProfileURL}} 
    </h1>

    <h1 style="color: chocolate"> 
      <span style="color:darkgreen">
        <u>Description About Author</u>:
      </span> 
      {{instushService.authorDataObj.description}} 
    </h1>
    
  </div>

</body>