<div style="text-align:left">
  <h1><u>Add/Search Cars Details By Different Criteria</u></h1>
</div>
<br><br>

<app-add-car></app-add-car>
<br><br><br><br>
<app-display-car-by-license-num></app-display-car-by-license-num>
<br><br><br><br>
<app-display-cars-by-years></app-display-cars-by-years>
<br><br><br><br>
<app-display-cars-models-by-manufactorer></app-display-cars-models-by-manufactorer>
<br><br><br><br>
<app-models-and-prices-by-model></app-models-and-prices-by-model>
<br><br><br><br>
<app-more-expensive-car></app-more-expensive-car>
<br><br><br>