<div>
  <p class="inputTitle" (click) = "toggleHide()" > <span> {{sign}} </span> Location </p>
    <div class="details" [ngClass]="{hide: hideToggle}">

      <table>
        <tr>
          <td>
            <input type="radio" name="loc" id="">
            <label for="loc"> Located</label></td>
          <td>
            <select name="" id="">
              <option value="dis1">5</option>
            </select>
            miles of <input type="text" name="zipCode" id="" title="Enter ZIP Code">
          </td>
        </tr>
        <tr>
          <td>
            <input type="radio" name="loc" id="" />
            <label for="loc"> From preferred locations </label>
          </td>
          <td>
            <select name="pre_loc" id="">
              <option value="loc1">Worldwide</option>
            </select>
          </td>
        </tr>
        <tr>
          <td>
            <input type="radio" name="loc" id="">
            <label for="loc"> Located in </label>
          </td>
          <td>
            <select name="loc_in" id="">
              <option value="loc1">United States</option>
            </select>
          </td>
        </tr>
      </table>
    </div>
  </div>
