.video{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.video-image{
    width: 80%;
    height: 20%;
}

.video-image img{
    width: 100%;
    height: 100%;
}

.video-info{
    width: 80%;
    height: 20%;
    text-align: left;
}
