<a href="">Home</a>
<form #form="ngForm" (submit)= onSubmit($event,form.value)>
  <h1>Trivia</h1>
  <div *ngFor="let question of questions">
    <!-- <app-question [question]='q'> -->
    <app-question *ngIf="questionService.getCurrentQuestionId() === question.id" (createdCompEvent)="onQuestionChange($event)">
      <div ngModelGroup="q{{question.id+1}}">
          <h1 style="text-align: center">{{questionService.timer}}</h1>
        <h2>
          <!-- <span class="wrong" *ngIf="!questionService.isCorrectAnswer(question.name,questionService.getAnswers()[question.name])">* </span> -->
          {{question.id+1}}. {{question.question}} 
        </h2>
        <input type='radio' [(ngModel)]="currentRadioSelection" name='{{question.name}}' value='0' #radio1 (change)="setCurrentRadioSelection(0)"  /> {{question.option1}} <br />
        <input type='radio' [(ngModel)]="currentRadioSelection" name='{{question.name}}' value='1' #radio2 (change)="setCurrentRadioSelection(1)" /> {{question.option2}} <br />
        <input type='radio' [(ngModel)]="currentRadioSelection" name='{{question.name}}' value='2' #radio3 (change)="setCurrentRadioSelection(2)" /> {{question.option3}} <br />
        <input type='radio' [(ngModel)]="currentRadioSelection" name='{{question.name}}' value='3' #radio4 (change)="setCurrentRadioSelection(3)" /> {{question.option4}} <br /><br />
      </div>
    </app-question>
  </div>
  <button type="button" (click)="onPrevClicked(form.value);$event.preventDefault()" [disabled]="questionService.getCurrentQuestionId()===0">Prev</button>
  <button type="button" (click)="onNextClicked(form.value);$event.preventDefault()" [disabled]="questionService.getCurrentQuestionId()===9">Next</button>
  <input type='submit' name='submit' value='Submit' [disabled]="!(questionService.getAnsweredCounter() === 10)" />
  <input type="hidden" name="ts" value="1547375825757">
  <h2 [hidden]="!(questionService.getAnsweredCounter() === 10)">Correct answers: {{questionService.correctAnswers}} / {{questionService.totalQuestions}}</h2>

</form>