<div id="wrapper">
  <div id="albums-list-div">
    <app-albums-list></app-albums-list>
  </div>
  <div id="big-picture">
    <div class="big-picture-arrow-left" (click)=showPrevImage()><img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT9XNzScYIlhsVuWFqh7pD3pqt73_krZASZeJJI5azAeRmxaUnUZg">
    </div>
    <div id="big-picture-img" (click)=true>
      <app-image [imgSrc]="images[imgSrcIndex]" classNameType="bigImg"></app-image>
    </div>
    <div class="big-picture-arrow-right" (click)=showNextImage()><img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT9XNzScYIlhsVuWFqh7pD3pqt73_krZASZeJJI5azAeRmxaUnUZg">
    </div>
  </div>

  <div class="pictures">
    <div *ngFor="let image of images; let i = index;" class="picture">
      <app-image [imgSrc]="image" classNameType="smallImg" [imgSrcIndex]="i"
        (showBigPictureEvent)="onShowBigPicture($event)"></app-image>
    </div>
  </div>

</div>