<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<div>
  <ul>
    <li *ngFor="let food of foods; index as i">
      {{'My ' + (i+1) + switchSuffix(i + 1) + ' choice is ' + food}}
    </li>
  </ul>
</div>
<div>
  <ul>
    <li *ngFor="let beverage of beverages; index as i">
      {{'My ' + (i+1) + switchSuffix(i + 1) + ' choice is ' + beverage}}
    </li>
  </ul>
</div>
<div>
  <ul>
    <li *ngFor="let color of colors; index as i">
      {{'My ' + (i+1) + switchSuffix(i + 1) + ' choice is ' + color}}
    </li>
  </ul>
</div>
