.red {
    color: red;
    font-weight: bold;
}

.blue {
    color: blue;
    font-weight: bold;
}

.green {
    color: green;
    font-weight: bold;
}

.black {
    color: black;
    font-weight: bold;
}

.purple {
    color: purple;
    font-weight: bold;
}

.yellow {
    color: yellow;
    font-weight: bold;
}

.pink {
    color: pink;
    font-weight: bold;
}

.gray {
    color: gray;
    font-weight: bold;
}

.brown {
    color: brown;
    font-weight: bold;
}

.cyan {
    color: cyan;
    font-weight: bold;
}

.beige {
    color: beige;
    font-weight: bold;
}

.orange {
    color: orange;
    font-weight: bold;
}