body {
  background: white;
}

#controls-wrapper {
  position: absolute;
  top: 10px;
  right: 10px;
  text-align: center;
}
.btn-arrow {
  width: 30px;
  height: 30px;
}
#btn-left {
  margin-right: 32px;
}
.btn-reset {
background-color: green;
color: white;
}
.circle {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background: blue;
}
#piece {
  position: absolute;
  top: 100px;
  left: 50%;
}

.circle:hover {
  background:white;
  border: 2px solid blue;
}
