body {
  background: white;
}

#controls-wrapper {
  position: absolute;
  top: 10px;
  right: 10px;
  text-align: center;
}
.btn-arrow {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
#btn-left {
  margin-right: 32px;
}
.circle {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background: blue;
}
#piece {
  position: absolute;
  top: 100px;
  left: 50%;
  transition: all 0.5s ease;
}
.circle:hover{
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background: none !important;
  border: 4px solid blue;
  box-sizing: border-box;
}

#btn-reset{
  bottom: -30px;
  left: calc(50% - 30px);
}

#btn-random{
  bottom: -60px;
  left: calc(50% - 30px);
}

.btn{
  position: absolute;
  background-color: rgb(219, 28, 28);
  border: none;
  color: white;
  width: 60px;
  height: 20px;
  cursor: pointer;
}

.btn:hover{
  background-color: rgb(224, 93, 93);
}