body {
  background: white;
}

#controls-wrapper {
  position: absolute;
  top: 10px;
  right: 10px;
  text-align: center;
}
.btn-arrow {
  width: 30px;
  height: 30px;
}
#btn-left {
  margin-right: 32px;
}
.circle {
  width: 98px;
  height: 98px;
  border: 2px solid blue;
  border-radius: 50px;
  background: blue;
}

div.circle:hover { 
  background: white;
  border-color: blue;
}

#piece {
  position: absolute;
  top: 100px;
  left: 50%;
}
