<form #shoppingForm = 'ngForm'>
  <table id="productTable">
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Action</th>
    </tr>
    <tr>
      <td>
        <select id = "productName"
               [(ngModel)]="nameItem"
               name = "product"
               (change) ="setPrice(nameItem)">
          <option  *ngFor = "let product of products"
                    [value] = 'product.itemName'>
            {{ product.itemName}}
          </option>
        </select>
      </td>
      <td>
        <input id="price" name="price"
               [(ngModel)]= "priceItem"
               required />
      </td>
      <td>
        <input type="button"
               value="add"
               id="addButton"
               (click) = "addProductToList(
                         { itemName:nameItem,
                          itemPrice:priceItem })">

      </td>
    </tr>
    <tr *ngFor="let mySelectedProduct of mySelectedProducts">
      <td>{{ mySelectedProduct.itemName}}</td>
      <td>{{ mySelectedProduct.itemPrice }} </td>
      <td> <input type="submit" value="remove" (click)="removeProduct({
      itemName:mySelectedProduct.itemName,
      itemPrice:mySelectedProduct.itemPrice
    })"> </td>
    </tr>
  </table>
</form>
<mark>Total price :</mark>
<div id="totalPrice"></div>
<a routerLink = "payment">Go To Payment</a>
