<form [formGroup]="userForm" (ngSubmit)="onSubmit($event)" [hidden]="submitted">

  <div class="form-group">
    <h3>Personal Information:</h3>

    <label for="firstName">First Name:</label>
    <input type="text" class="form-control" name="firstName" formControlName="firstName">
    <div [hidden]="firstName.valid" class="alert alert-danger">
      First Name is required
    </div>

    <label for="lastName">Last Name:</label>
    <input id="lastName" type="text" class="form-control" name="lastName" formControlName="lastName">
    <div [hidden]="lastName.valid" class="alert alert-danger">
      Last Name is required
    </div>

    <label for="age">Age:</label>
    <input id="age" type="number" min="1" max="90" class="form-control" name="age" formControlName="age">
    <div [hidden]="age.valid " class="alert alert-danger">
      Age need to be between 1-90
    </div>
  </div>

  <div class="form-group">
    <h3>Credentials:</h3>

    <label for="userName">User Name:</label>
    <input id="userName" type="text" class="form-control" required name="userName" formControlName="userName">
    <div [hidden]="userName.valid" class="alert alert-danger">
      User Name is required
    </div>

    <label for="password">Password:</label>
    <input id="password" type="password" class="form-control" required name="password" formControlName="password">
    <div [hidden]="password.valid" class="alert alert-danger">
      Password is required
    </div>
  </div>

  <div class="form-group">
    <h3>Contact:</h3>

    <label for="phone">Phone Number:</label>
    <input id="phone" type="tel" pattern="[05][0-9]{8}" class="form-control" name="phone" formControlName="phone">
    <div [hidden]="password.valid" class="alert alert-danger">
      Phone number is required - with the pattern 055-555-5555
    </div>

    <label for="email">Email Address:</label>
    <input id="email" type="email" pattern=".+@.+.(com|co.il)" class="form-control" name="email" formControlName="email">
  </div>

  <div class="form-group">
    <h3>Misc:</h3>

    <label for="comment">Comments:</label>
    <textarea id="comment" rows="5" cols="33" class="form-control" name="comment"></textarea>

    <label for="hobbies">Hobbies:</label>
    <select id="hobbies" class="form-control" name="hobbies">
      <option *ngFor="let hobbie of hobbies" [value]="hobbie">{{ hobbie }}</option>
    </select>
  </div>

  <button type="submit" class="btn btn-success" [disabled]="!userForm.valid">Submit</button>
</form>
