<!--The content below is only a placeholder and can be replaced.-->
<div>
  <h1 style="text-align:center">
    Using *ngIf
  </h1>

  <ul>
    <li *ngFor="let people of peoples ">
      {{people.name}} <span *ngIf="isNormal(people.bloodPressure); else nonormal"> - Blood Pressure is Normal</span>
      <ng-template #nonormal> - Blood Pressure is <b>NO</b> Normal </ng-template>
    </li>
  </ul>
</div>

<div>
  <h1 style="text-align:center">
    Using Pipes
  </h1>
  <ul>
      <li *ngFor="let people of peoples ">
          {{people.name}} - {{people.bloodPressure | bloodpipe }}
      </li>
    </ul>

  </div>
