*{
    border: 2px solid red;
}


#top{
    width: 100%;
    
}
#bottom{
    position: fixed;
    bottom: 0;
}
#centertable{
    width: 700px;
    margin: 0 auto;
}
#sidemenu{
    width: 100px;
}
.pop-up{
    background-color: green;
    color: white;
    opacity: 0.7;
    position: fixed;
    top: 50%;
    left:50%;
    width: 500px;
    height: 500px;
    margin-top: -250;
    margin-left: -250;
    text-align: center;

}
