<form #f="ngForm" (submit)="onSubmitForm(f)">

  <!-- <p *ngIf="nameCtrl.invalid">Name is invalid.</p> -->

  <div ngModelGroup="username" #nameCtrl="ngModelGroup">
    <label for="firstName">First:</label>
    <input id="firstName" name="first" [(ngModel)]="firstModel" #firstElem="ngModel" minlength="2" maxlength="6" (keydown)="onKeyDown()">
    <label for="lastName">Last:</label>
    <input id="lastName" name="last" [(ngModel)]="lastModel" #last="ngModel" required>
    
    <div *ngIf="firstElem.invalid && (firstElem.dirty || firstElem.touched)">
      <span *ngIf="firstElem.errors.minlength">
        Please enter more than 2 characters
      </span>
      <span *ngIf="firstElem.errors.maxlength">
        Please enter less than 6 characters
      </span>
    </div>

  </div>

  <input name="email" type="email" ngModel #email="ngModel" email="true" />

  <label for="gender">Gender</label>
  <select name="gender" ngModel #gender="ngModel">
    <option>Male</option>
    <option>Female</option>
  </select>

  <button>Submit</button>

    <!-- Two Way Binding -->
  <!-- <input type="text" id="fullName" name="fullName" [(ngModel)]="fullNameModel" #fullnameElem="ngModel" (keydown)="onKeyDown()" /> -->

  <!-- One Way Binding -->
  <!-- <input type="text" id="fullName" name="fullName" [ngModel]="fullNameModel" #fullnameElem="ngModel" (keydown)="onKeyDown()" /> -->

  <!-- No Binding -->
  <!-- <input type="text" id="fullName" name="fullName" ngModel #fullnameElem="ngModel" (keydown)="onKeyDown()" /> -->

  <!-- No ngModel -->
  <!-- <input type="text" id="fullName" name="fullName" #fullnameElem (keydown)="onKeyDown()" /> -->

</form>