
  <div id="mainSearch">
      <p>Enter keywords or item number</p>
      <div class="details">
        <h3>Find Items</h3>

        <form action="">

          <input type="text" name="serchText" id="" placeholder="Enter key words or item number">
          <select name="typeSearch">
            <option value="aw_ao">All words, any order</option>
            <option value="aw_ao"></option>
            <option value="ew_eo"></option>
            <option value="ew_ao"></option>
          </select>
          <label for="exclude"> <br /><br /> Exclude words from your search </label><br />
          <input type="text" name="exclude">
          <h3>See general <a href="">search tips</a> or <a href="">using advanced search options</a> </h3>
          <label for="">In this category:</label><br />
          <select name="">
            <option value="all_cat">All Categories</option>
          </select>
          <br /><br />
          <input type="submit" value="search">
          <br /><br />
        </form>
      </div>
    </div>
