<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
   Using *ngIf
  </h1>
     <p *ngFor ="let people of peoples">
       <span>Name: {{people.name}} </span> 
       <span *ngIf = "bloodPerssuresCheck(people.bloodPressure);else notNormal"> blood pressures :{{people.bloodPressure}} Normal</span>
       <ng-template #notNormal>blood pressures:{{people.bloodPressure}} Not Normal</ng-template>
     </p>
  <h1>
    Using Pipes
  </h1>
  <p *ngFor ="let people of peoples">
    <span> {{people.name}} : {{people.bloodPressure|sqrtnormalbloodpressure }}  </span> 
  </p>
<h1>
  </h1>
  
</div>I


