<div>
  <h2>assignment 01/14:</h2>
  <ul>
    <li *ngFor="let color of favColors; index as i">my {{order[i]}} favorite color is {{color}}</li>
  </ul>
  <h2>assignment 01/16:</h2>
  <ul>
    <li *ngFor="let book of books">you {{hasRead(book.alreadyRead)}} {{book.title}} by {{book.author}}</li>
  </ul>
  <h2>assignment 03/01:</h2>
  <ul *ngFor="let favBook of favBooks">
    <li>Title:{{favBook.title}}</li>
    <li>Author:{{favBook.author}}</li>
    <li>Date:{{favBook.date}}</li>
    <li>Publisher:{{favBook.publisher}}</li>
    <li>Number Of Pages:{{favBook.pages}}</li>
    <li>Notes:{{favBook.note}}</li>
  </ul>
  
  <h2>assignment 03/02:</h2>
  <div *ngFor="let image of favImages">
      <a href={{image.wikiLink}}>
          <h2>{{image.placeName}}</h2>
          <img src={{image.src}} width="300" height="200">
      </a>
  </div>
</div>
