<div id="formWrapper">
  <form id="FindItems" (submit)="false">
    <h3 class="formtitle">Find Items</h3>
    <div>
      <button id="exp-all" (click)="toggleAll()">{{this.btnText}}</button>
    </div>
    <app-collapsable [isOpen]="isOpen[0]" [display]="'sec1'"></app-collapsable>
    <app-collapsable [isOpen]="isOpen[1]" [display]="'sec2'"></app-collapsable>
    <app-collapsable [isOpen]="isOpen[2]" [display]="'sec3'"></app-collapsable>
    <app-collapsable [isOpen]="isOpen[3]" [display]="'sec4'"></app-collapsable>
    <app-collapsable [isOpen]="isOpen[4]" [display]="'sec5'"></app-collapsable>
    <app-collapsable [isOpen]="isOpen[5]" [display]="'sec6'"></app-collapsable>
    <app-collapsable [isOpen]="isOpen[6]" [display]="'sec7'"></app-collapsable>
    <app-collapsable [isOpen]="isOpen[7]" [display]="'sec8'"></app-collapsable>
    <app-collapsable [isOpen]="isOpen[8]" [display]="'sec9'"></app-collapsable>
    <app-collapsable [isOpen]="isOpen[9]" [display]="'sec10'"></app-collapsable>
  </form>
</div>