<div id="formWrapper">
  <form id="FindItems" (submit)="false">
    <h3 class="formtitle">Find Items</h3>
    <div>
      <button id="exp-all">expand all</button>
    </div>
    <app-collapsable [display]="'sec1'"></app-collapsable>
    <app-collapsable [display]="'sec2'"></app-collapsable>
    <app-collapsable [display]="'sec3'"></app-collapsable>
    <app-collapsable [display]="'sec4'"></app-collapsable>
    <app-collapsable [display]="'sec5'"></app-collapsable>
    <app-collapsable [display]="'sec6'"></app-collapsable>
    <app-collapsable [display]="'sec7'"></app-collapsable>
    <app-collapsable [display]="'sec8'"></app-collapsable>
    <app-collapsable [display]="'sec9'"></app-collapsable>
    <app-collapsable [display]="'sec10'"></app-collapsable>
  </form>
</div>