<div id="container">
  <h1> Chat</h1>
  <div id="board">
    <div *ngFor="let message of seviceToServerService.messages">
      <p class="messageView" id="{{message.id}}">
        <b>{{message.author}}</b>
        <br>
        {{message.message}}
    </div>
  </div><br>
  <div id="formDiv">
    <form id="chatForm" (submit)="sendMessage($event,author ,message)">
      <input type="text" placeholder="Author" #author>
      <br>
      <textarea name="message" id="message" cols="50" rows="4" #message placeholder="Message..."></textarea>
      <br>
      <button> Send</button>
    </form>
  </div>
</div>