<h2 appMonthToColor>{{1 | numToMonth}}</h2>
<h2 appMonthToColor>{{2 | numToMonth}}</h2>
<h2 appMonthToColor>{{3 | numToMonth}}</h2>
<h2 appMonthToColor>{{4 | numToMonth}}</h2>
<h2 appMonthToColor>{{5 | numToMonth}}</h2>
<h2 appMonthToColor>{{6 | numToMonth}}</h2>
<h2 appMonthToColor>{{7 | numToMonth}}</h2>
<h2 appMonthToColor>{{8 | numToMonth}}</h2>
<h2 appMonthToColor>{{9 | numToMonth}}</h2>
<h2 appMonthToColor>{{10 | numToMonth}}</h2>
<h2 appMonthToColor>{{11 | numToMonth}}</h2>
<h2 appMonthToColor>{{12 | numToMonth}}</h2>