.myImg {
  display: flex;
  flex-flow: wrap;
}

.bigImg {
  position: absolute;
  top:5vh;
  left:20vw;
  width: 60vw;
  height: 90vh;
  text-align: center;
}

.filter {
  filter: grayscale(50%) blur(5px);
  -webkit-filter: grayscale(50%) blur(5px);
  pointer-events: none;
}
