
#bmi-comp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -60px;
}
h2{
    color:black;
    margin-bottom: 30px;
    font-size: 30pt;
    font-family: 'Assistant', sans-serif;    
}
.heb{
    font-weight: 400;
}
.eng{
    font-weight: 800;
}
#form{
    padding-top: 20px;
    padding-bottom: 8px;
    background-color: #CFECCF;
    border: 4px solid #93CC8C;
    border-radius: 30px;
    width: 470px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.inputs{
    background-color: #F5A835;
    border: 1px solid black;
    /* color: gray; */
    margin: 12px;
    width: 114px;
    height: 26px;
    padding-right: 6px;
}
#button{
    display: block;
    background-color: #377537;
    border: none;
    color: white;
    margin: 12px;
    width: 120px;
    height: 28px;
}