.video{
    width: 240px;
    height: 80px;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    /* border: 2px solid gray; */
    margin-bottom: 5px;
    padding-left: 14px;
    padding-right: 10px;
}
.video-img{
    height: 60px;
    width: 80px;
    overflow: hidden;
    background-color: white;
}
.video-info-container{
    height: 100%;
    padding: 10px;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
}

.video-info-container h3{
    margin: 1px;
    color: white;
    font-size: 20px;
}

.video-info-container h4{
    margin: 1px;
    color: rgb(103, 141, 156);
}