<div class="container">
  <h1>Forgot Password</h1>
  <form  [formGroup]="ForgotForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <input class="form-control" type="email" placeholder="Email"  formControlName="email" name="email" required ><br>
        <input class="form-control" type="email" placeholder="Confirm email"  formControlName="cEmail" name="cEmail" required ><br>
        <button class="form-control" type="submit" class="btn btn-success">Send</button>
    </div>  
  </form>
  <button routerLink="" class="btn">Back to sign-in</button>
</div> 