
<form  (ngSubmit)="onSubmit()">

    <fieldset >
        <legend>Sign Up</legend>
  <label for ="fullName"> Full Name     : </label>
  <input type="text" [formControl] = "fullName" required placeholder="Enter Full name"><br>

  <label for="email">  Email Address : </label>
  <input type="email" [formControl] = "email" required placeholder="Enter yor Address"><br>

  <label for="age">    Age:          :</label>
  <input type="number" [formControl] = "age" minlength="18" maxlength="32" required placeholder="Enter Age"><br>

  <label for="username">Username      :</label>
  <input type="text" [formControl] = "username" maxlength="10" required placeholder="Enter User Name"> <br>

  <label for="password">Password      :</label>
  <input type="password" [formControl] = "password" required placeholder="Enter your Password" ><br>

  <input type="reset" value="RESET"> <br>
  <input type="submit" value="SUBMIT"
         [disabled] = "fullName.invalid && email.invalid && age.invalid && username.invalid && password.invalid">  <br>
  <a [routerLink]="['/login-in']" routerLinkActive="router-link-active" > GO INDEX </a>
</fieldset>

</form>





