.bigImg{
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius: 5px;
}

.smallImg{
    width: 100px;
    height: 100px;
    cursor: pointer;
    border-radius: 5px;
}


/* .picture-wrapper{
    width: 100%;
    height: 100%;
} */

