* {
    box-sizing: border-box;
    margin: 0%;
}
html {
    height: 100%;
    width: 100%;
    font-size: 17px; 
}
body {
    background-color: springgreen;
    width: 100%;
    height: 100%;
}

#content {
    position: absolute;
    top: 50%;
    left:  50%;
    transform: translate(-50%, -50%);
}

.td button {
    border-radius: 10px;
}

#table {
    width: 400px;
}

.tr {
    display: inline-block;
}

.td {
    display: inline-block;
}
.td:hover{
    position: relative;
    box-shadow: 0px 0px 10px 10px #0ff;
    z-index: 3;
}
h1 {
    font-size: 36px; 
}

h4 {
    font-size: 20px; 
}
.td button {
    width: 100px;
    height: 100px;
}

.flip-container {
    perspective: 1000;
}
  
.flip-container.hover .flipper {
    transform: rotateY(180deg);
}
  
.flip-container, .front, .back {
      width: 100px;
      height: 100px;
      border-radius: 10px;
}
  
.flipper {
    transition: 0.5s;
    transform-style: preserve-3d; 
    position: relative;
    width: 100px;
    height: 100px;
}
  
.front, .back {
      backface-visibility: hidden;
      position: absolute;
      top: 0;
      left: 0;
}
  
.front {
    background: radial-gradient(4rem,
    rgba(255,255,255,0) 80%, 
    #778691 80%, #778691 99%, 
    rgba(255,255,255, 0) 
    ) 0 0,
    radial-gradient(4rem,
    rgba(255,255,255,0) 80%, 
    #778691 80%, #778691 99%,  
    rgba(255,255,255, 0) 
    ) 4em 4em,
    radial-gradient(4.7rem,
    rgba(255,255,255,0) 50%, 
    #B1C2B3 50%,
    #B1C2B3 75%, #B1C2B3 99%, 
    rgba(255,255,255, 0) 
    ) 4em 4em,
    radial-gradient(4.7rem,
    rgba(255,255,255,0) 50%, 
    #B1C2B3 50%,
    #F5FCD0 75%, #B1C2B3 99%, 
    rgba(255,255,255, 0) 
    ) 0 0;
    background-size: 100px 100px;
    background-color: #F5FCD0;
    z-index: 2;
}
  
.back {
      transform: rotateY(180deg);
      background: #f22;
}

  