<div>
    <div>
        <select (change)="onDisplaySelected($event)">
            <option selected disabled hidden>Choose Display</option>
            <option value="0">car details by license number</option>
            <option value="1">cars details by year range</option>
            <option value="2">cars models by manufacturer</option>
            <option value="3">cars models and prices by model</option>
            <option value="4">the more expensive car by two license numbers</option>
        </select>
    </div>

    <div>

        <div [ngSwitch]="selectedValue">

            <div *ngSwitchCase="0">
                <form (submit)="onSubmit($event,license.value)">
                    <input type="text" placeholder="License" #license />
                    <button>Display</button>
                </form>
            </div>
            <div *ngSwitchCase="1">
                <form (submit)="onSubmit($event,fromYear.value,untilYear.value)">
                    <input type="number" placeholder="from" #fromYear />
                    <input type="number" placeholder="until" #untilYear />
                    <button>Display</button>
                </form>
            </div>
            <div *ngSwitchCase="2">
                <form (submit)="onSubmit($event,manufacturer.value)">
                    <input type="text" placeholder="manufacturer" #manufacturer />
                    <button>Display</button>
                </form>
            </div>
            <div *ngSwitchCase="3">
                <form (submit)="onSubmit($event,model.value)">
                    <input type="text" placeholder="model" #model />
                    <button>Display</button>
                </form>
            </div>
            <div *ngSwitchCase="4">
                <form (submit)="onSubmit($event,license1.value,license2.value)">
                    <input type="text" placeholder="First License" #license1 />
                    <input type="text" placeholder="Second License" #license2 />
                    <button>Display</button>
                </form>
            </div>
            <div *ngSwitchDefault></div>
        </div>

    </div>


</div>

<app-display-list *ngIf="data"></app-display-list>