/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    background: #F2D95E;
    color: #172326;
}

.center {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.center-full {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}