<h1>Template Driven Form:</h1>
<form #RegistrationTDForm="ngForm">
  <h3>Personal Information:</h3>

  <div>
    First Name: 
    <input type="text" name="firstName" required [(ngModel)]="model.firstName" id="firstName" #firstName="ngModel">
  </div>

  <div>
    Last Name: 
    <input type="text" name="lastName" required [(ngModel)]="model.lastName" id="lastName" #lastName="ngModel">
  </div>

  <div>
    Age: 
    <input type="number" name="age" required [(ngModel)]="model.age" id="age" #age="ngModel">
  </div>


  <h3>Credentials:</h3>

  <div>
    Userame: 
    <input type="text" name="userame" required [(ngModel)]="model.userame" id="userame" #userame="ngModel">
  </div>

  <div>
    Password: 
    <input type="Password" name="password" required [(ngModel)]="model.password" id="password" #password="ngModel">
  </div>


  <h3>Contact:</h3>
  <div>
    Phone Number: 
    <input type="tel" name="PhoneNumber" required [(ngModel)]="model.phone" id="phone" #phone="ngModel">
  </div>

  <div>
    Email Address: 
    <input type="Email" name="email" required [(ngModel)]="model.email" id="email" #email="ngModel">
  </div>

  <h3>Misc:</h3>
  <div> 
     Comments: 
    <textarea name="comments" rows="4" cols="50" required [(ngModel)]="model.comments" id="comments" #comments="ngModel"></textarea>
  </div>

  <div>
      Hobbies: 
      <select name="hobbies" required [(ngModel)]="model.hobbies" id="hobbies" #hobbies="ngModel">
          <option value="Soccer">Soccer</option>
          <option value="Tennis">Tennis</option>
          <option value="Basketball">Basketball</option>
          <option value="Hoki">Hoki</option>
      </select>
  </div>



  <input type="Submit" value="Submit">
</form>