<div class="movie">
  <img [src]="movie.Poster" (click)="showDetails(movie.imdbID)" />
  <a class="link" href="http://www.imdb.com/title/{{ movie.imdbID }}" target="_blank" [style.width.px]="width" [className]="condition ? 'active' : 'inactive'">
    {{ movie.Title }}
  </a>
  <button type="button" (click)="onFavoritesClick()">
    {{ isClicked ? "Remove From Favorites" : "Add To Favorites" }}
  </button>
  <a routerLink="movies/{{ movie.imdbID }}">Go To Movie</a>

  <div *ngIf="movieDetails.length > 0">
    <ul>
      <li *ngFor="let movieDetail of movieDetails">
        {{ movieDetail }}
      </li>
    </ul>
  </div>
</div>