<div>
    <p class="inputTitle" (click) = "toggleHide()" > <span> {{sign}} </span> Sellers </p>
    <div class="details"  [ngClass]="{hide: hideToggle}">

      <input type="checkbox" name="seller" id="">
      <label for="seller">Only show items from:</label>
      <ul>
        <li>
          <input type="radio" name="sellerType" id="">
          <label for="sellerType">Specific sellers (enter seller's user IDs)</label> <br />
        </li>
        <li>
          <select name="sellerId" id="">
            <option value="include">Include</option>
            <option value="exclude">Exclude</option>
          </select>
          <input type="text" name="userId" id="" title="Enter seller id">
        </li>
        <li>
          <input type="radio" name="sellerType" id="">
          <label for="sellerType">My saved sellers list
          </label> <br />
        </li>
        <li>
          <input type="radio" name="sellerType" id="">
          <label for="sellerType">Sellers with eBay stores</label> <br />
        </li>

      </ul>
    </div>
  </div>
