* {
    padding-left: 1%;
}

.radio-button {
    transform: scale(1.5);
    border: 1px solid blue;	    
}

.submit-button {
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    font-family: Arial;
    margin:10px;
    width: 130px;
    height: 35px;
    border-radius: 8px;
    color: #3399ff;
    border:3px solid #3399ff;  
    background-color: #ffffcc; 	
}

.submit-button:hover {
    font-weight:bold;
    font-size: 24px;
    margin:10px;
    color: #ff6600;
    width: 130px;
    height: 35px;
    border-radius: 8px;
    border:3px solid #18ab8b;        
    background-color: #99ffcc;
}