/* .video{
    width:100%;
    height: 100%;

}
.video-img{
    width:100%;
    height: 100%;
}
.video-img img{
    width:100%;
    height: 100%;
} */

#player {
  width: 100%;
  height: 100%;
}

#player video {
  width: 100%;
  height: 100%;
}
