<div  style="background-color:wheat;
             width: 400px;
             height: 200px;
             "
      class="main">
  <div  style="display: relative;
               background-color: tomato;
               width: 100%;
               height: 50px;
                margin-top: 10px" >
    <div style = "width: 30% ;display: inline-block">
      <input type = "radio" name="timer" id="timer" (click)="onTimerChecked()" checked/>
      <label for="timer"> Timer</label>
    </div>
    <div style = "width: 30% ;display: inline-block">
      <input type="radio" id="count" name="timer"   (click)="onCountChecked()"/>
      <label for="count"> Countdown</label>
    </div>
    <div style = "width: 40% ;display: inline-block">
      <input type="text" placeholder="Start from..."  #startFrom/>
    </div>
  </div>
  <app-countdown *ngIf="count" [startFrom]="startFrom.value"></app-countdown>
  <app-timer *ngIf="timer"></app-timer>
</div>

