:host {
    background-color: rgb(199, 213, 218);
    margin: 0;
}

#wrapper {
    width: 70%;
    height: 100%;
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0px auto;
    background-color: rgb(84, 74, 94);
}

.page-header {
    width: 100%;
    height: 50px;
    padding-top: 20px;
    background: rgb(98, 120, 128);
    text-align: center;
    color: black;
    margin: 0px auto;
}

#left-arrow-img {
    width: 100px;
    height: 100px;
    cursor: pointer;
}

#right-arrow-img {
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.left-arrow {
    float:left;
    margin-left: 10%;
    margin-top: 3%;
}

.right-arrow {
    float: left;
    margin-top: 3%;
}

#selected-img {
    float: left;
    width: 500px;
    height: 350px;
    margin: 20px auto;
}

.gallery{
    margin-left: 4px;
}

.gallery-wrapper {
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 2%;
}

.img-wrapper {
    width: 140px;
    height: 120px;
    margin: 14px;
}
