#container {
    position: relative;
    top: 100px;
    margin:0 auto;
    display: flex;
    justify-content: center;
  }
  #gallery {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
 }
 .img {
  margin: 10px;
}
#author{
  display: inline-table;
  flex-wrap: wrap;
  width: 20%;
  color: rgb(102, 45, 52);
}