<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <!-- answer 1 -->
  <h1>answer 1</h1>
  <div class="solution-content" >
    Type of animals variable is {{typeOfanimalsVar}}
    <br><br>
    Second item in [{{animalsArr}}] array is {{animalsArr[1]}}
    <br><br>
    Final animals number is {{animalsNum}}
  </div> 


  <h1>answer 2</h1>

  <div style="text-align:center">
    {{resultContent}}
  </div>
  <h1>answer 4</h1>
  <div class="display-result">
    x = {{x}}
    <br>
    y = {{y}}
  </div> 

