
.picture{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 5px;
    padding:7px;
    /* margin: 20px; */
    /* justify-content: space-around;  */
}

.picture-likes .picture-likes-like{
    /* display: flex; */
    /* align-items: flex-start; */
}

.picture-likes .picture-likes-counter{
    /* display: flex; */
    text-align: right;
}

.picture-image img{
    width: 150px;
    height: 150px;
}

.clicked{
    border:solid red;
}

.small{
    font-size: 10px;
}

.normal{
    font-size: 13px;
}

.big{
    font-size: 16px;
}
