<!-- 
  <h1>

      bol = true is {{ returnType(bol)}}

  </h1>
  <h1>
      num = 123 is {{ returnType(num) }}
  </h1>

  <h1>
      str = "avi" is {{ returnType(str) }}
  </h1>
<h1>
     obj = is  {{returnType(obj) }}
</h1>
 -->
 
  <h1>
    <ul>
      <li>
          bol = true is {{ returnType(bol)}}
      </li>
   
      <li>
          num = 123 is {{ returnType(num) }}
      </li>

      <li>
          str = "avi" is {{ returnType(str) }}
      </li>
      <li>
          obj =  is {{ returnType(obj) }}
      </li>
    </ul>
  </h1>
 

