<div>
  <h1>About-As</h1>
  <p>
    The website features the largest collection of professionally-tested recipes online from food experts at the
    magazines and cookbooks you love and trust--including Cooking Light, Southern Living, Sunset, Coastal Living, Real
    Simple, and more.
    <br><br>
    <b>SEARCH</b>
    <br>
    Find the food you need for any occasion with our recipe finder. Easily refine your search with any of nearly 150
    recipe categories. The site delivers every type of recipe you could want, from decadent desserts and authentic
    cuisines to great-tasting healthy favorites with nutrition information that is reviewed by registered dietitians.
  </p>
</div>