<input type='radio'  name={{name}} ngModel value='{{answer.option1}}' /> {{answer.option1}}<br />
<input type='radio'  name='{{name}}' ngModel value='{{answer.option2}}' /> {{answer.option2}}<br />
<input type='radio' ngModel name='{{name}}' value='{{answer.option3}}' /> {{answer.option3}}<br />
<input type='radio' ngModel name='{{name}}' value='{{answer.option4}}' /> {{answer.option4}}<br /><br />

<!-- <input type='radio' ngModel name='{{question.name}}' value='{{question.value1}}' /> {{question.option1}}<br />
<input type='radio' ngModel name='{{question.name}}' value='{{question.value2}}' /> {{question.option2}}<br />
<input type='radio' ngModel name='{{question.name}}' value='{{question.value3}}' /> {{question.option3}}<br />
<input type='radio' ngModel name='{{question.name}}' value='{{question.value4}}' /> {{question.option4}}<br /><br /> -->

<ng-content></ng-content> 
