nav {
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: darkorange;
}
nav a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
}
ul {
    display: flex;
    width: 50%;
    justify-content: space-between;
}
ul li {
    display: inline;
}

nav a.current-page {
    font-weight: normal;
}