html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.middle {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#wrapper {
    display: grid;
    grid-template-rows: 75% 25%;
    /* grid-row-gap: 10px; */
    background: #ccc;
}

#container {
    display: grid;
    grid-template-rows: 10% 90%;
    width: 50%;
    height: 80%;
}

#header {
    display: flex;
}

#menu {
    display: flex;

    text-align: center;
    background: rgb(122, 76, 122);
    overflow: auto;
}
#player {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(122, 76, 122);
    flex-direction: column;
}

#player * {
    /* height:60%; */
    width: 60%;
}
#player #player-pic {
    max-height: 60%;
} 
.video {
    clear: both;
    margin-bottom: 50px;
    padding: 10px;
}

.video img {
    /* float: left; */
    width: 85px;
    height: 85px;
}
#arrow-right {
    position: relative;
    right: -420px;
    top: -36%;    
    /* top: 50%;
    left: 50%; */
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 30px solid lightslategray;
}
#arrow-left {
    left: -410px;
    top: 40%;

    position: relative;
    /* top: 50%;
    left: 50%; */
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-right: 30px solid lightslategray;
}