body {
    color: #01395C;
    background: #8AC6BF;
}

body, button, input{
    font-family: 'Oswald', sans-serif;
}

input {
    background: #F0E5D6;
    color: #01395C;
    padding-left: 5px;
}

.container {
    margin-left: 40%;
    width: 50%;
}

.border , button, img{
    border:3px solid #01395C;
    border-radius: 5px;
}

button {
    color: #01395C;
    background: #F0E5D6;
}

.tr {
    display: flex;
}

.td {
    width: 100px;
    height: 100px;
    margin: 2px;
    background: #F0E5D6
}

.hide {
    display: none;
}

img {
    width: 50px;
    border-radius: 50%;
    margin-left: 20%;
    margin-top: 20%;
}

#mssg_bord {
    position: fixed;
    top: 20%;
    left: 45%;
}