*{
    box-sizing: border-box;
}
body{
  /* display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; */
  /* height: 100vh; */
  margin: 0;
  padding: 0;
}

/* .hide{
    display: none;
} */

h1{
    font-size: 35px;
    color: #FFF7FB;
    margin-top: 0px;
}

#header{
    padding:45px;
    text-align: center;
    width: 100%;
    background-color: #CE2B37;
}
#header button,input{
    width: 150px;
}
#header button{
    background-color: #FFF7FB;
    border: 1px solid #FFF7FB;
}

#board{
    position: absolute;
    top:50%;
    left:50%;
    margin-top:-150px;
    margin-left: -150px;
}
td{
    width: 100px;
    height: 100px;
}
#board button,img{
    border: none;
}

table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 0px;
    margin: 0px;
}
.noSpace{
    padding: 0px;
    margin: 0px;
}