<form>

  <div>
    <h3>Personal Information</h3><br>

    <label>
      First Name:
      <input type="text">
    </label>
    <br>
    <label>
      Last Name:
      <input type="text">
    </label>
    <br>
    <label>
      Age:
      <input type="number">
    </label>
    <br>
  </div>


  <div>
    <h3>Credential</h3><br>

    <label>
      User Name:
      <input type="text">
    </label>
    <br>
    <label>
      Password:
      <input type="password">
    </label>
  </div>
  <br>
  <div>
    <h3>Contact</h3><br>

    <label>
      Phone:
      <input type="tel">
    </label>
    <br>
    <label>
      Email:
      <input type="email">
    </label>
  </div>
  <br>
  <div>
    <h3>Misc</h3><br>

    <label>
      Comments:
      <textarea name="Comments" rows="4" cols="50"></textarea>
    </label>
    <br>
    <label>
      Hobbies:
    </label>
      <select>
        <option value="Soccer">Soccer</option>
        <option value="Tennis">Tennis</option>
        <option value="Basketball">Basketball</option>
        <option value="Hoki">Hoki</option>
    </select>
    
  </div>
  <br>
  <button type="submit">Submit</button>
</form>