.pic-comp {
    display: flex;
    flex-flow: wrap;
}
.likeSec{
    background-color: "red";
    font-size: xx-large;
    display: flex;
    justify-content: space-around;

}

.img {
   width: 30%;
   text-align: center;
   margin: 10px;
}



 .img0 {
   width: 100px;
   height: auto;
 }

 .img1 {
    width: 150px;
    height: auto;
  }

  .img2 {
    width: 200px;
    height: auto;
  }