.pic-comp {
    display: flex;
    flex-flow: wrap;
}
.likeSec{
    background-color: "red";
    font-size: xx-large;
    display: flex;
    justify-content: space-around;

}

.img {
   width: 100%;
   text-align: center;
   margin: 10px;
   border-style: solid;
   border-color:gray;
}



 .img0 {
   width: auto;
   height: 200px;
 }

 .img1 {
    width: 60%;
    height: auto;
  }

  .img2 {
    width: 100%;
    height: auto;
  }

  .addBorder{
    border-style: solid;
    border-color:blue;
}
  