.img-comp{

  background-color:gold;
  margin:5px;
}
.likeSec{
  display: flex;
  color: blue;
  justify-content: space-between;
}

.likeSec button {
  width: 100px;
  background-color: grey;


}

.likeSec button:hover {
  box-shadow:0px 0px 10px 5px blue ;
}
.likeSec span {
  display: inline-block;
  width: 50px;
  background-color: white;
}

.imgSec {
  display: flex;
  justify-content: space-around;
}

.imgSec img {
  margin: 10px;
  padding: 5px;
}

img:hover {
  box-shadow:0px 0px 10px 5px blue ;

}


 .img0 {
  width: 180px;
   height: 60%;
   transition:width 0.5s linear 0s;
 }

 .img1 {
  width: 200px;
    height: 80%;
    transition:width 0.5s linear 0s;
  }

  .img2 {
    width: 220px;
    height: 100%;
    transition:width 0.5s linear 0s;
  }

  .addBorder{
    border-style: solid;
    border-color:blue;
}

.auther{
color: wheat;

}
