<form>
  <fieldset>

    <label for="fullName"> Full Name : </label>
    <input type="text" name="fullName" required placeholder="Enter Full name"><br/>

    <label for="email"> Email Address : </label>
    <input type="email" name="email" required placeholder="Enter yor Address"><br/>

    <label for="age"> Age: :</label>
    <input type="number" name="" minlength="18" maxlength="32" required placeholder="Enter Age"><br/>

    <label for="username">Username :</label>
    <input type="text" name="username" maxlength="10" required placeholder="Enter User Name"> <br/>

    <label for="password">Password :</label>
    <input type="password" name="password" required placeholder="Enter your Password"><br/>
    <input type="reset" value="RESET"> <br/>
    <input type="submit" value="SUBMIT"> <br/>
    <a routerLink ='/login-in'> GO INDEX </a>
  </fieldset>
</form>