.correct{
    border: 2px solid green;
}
.not-correct{
    border: 2px solid red;
}

.quiz-container{
    background-image: linear-gradient(rgb(254, 255, 216), rgb(251, 220, 117));
    color: rgb(31, 47, 40);
    width: 500px;
    height: 300px;
    border-radius: 20px;
    -webkit-box-shadow: 9px 10px 35px -20px rgba(0,0,0,0.75);
    -moz-box-shadow: 9px 10px 35px -20px rgba(0,0,0,0.75);
    box-shadow: 9px 10px 35px -20px rgba(0,0,0,0.75);
    border: 2px dashed rgb(31, 47, 40);
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

.quiz-container button{
    bottom: 0;
    width: 80px;
    border: none;
    cursor: pointer;
}

.quiz-container button:hover{
    background-color: rgb(174, 235, 235);
}

.question-container{
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
}

.question-container input{
    width: 10px;
    height: 10px;
}

.pages{
    text-align: center;
}
.answers-container{
    display: flex;
    /* justify-content: space-between;
    flex-wrap: wrap; */
    flex-direction: column;
}
.quiz-answer{
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
    max-width: 200px;
    height: 20px;
    display: flex;
    align-items: center;
}
.quiz-answer input{
    width: 18px;
    height: 18px;
    position: relative;
    top: -2px;
    margin-right: 8px;
    border: none;
    cursor: pointer;
}
.quiz-answer input:hover::after{
    content: "";
    background-color:  rgb(31, 47, 40);
    border-radius: 50px;
    width: 10px;
    height: 10px;
    position: absolute;
    left: 4px;
    top: 4px;
}
