<form action="">
  <label for ="userName"> User Name : </label>
  <input type="text" name ="userName" placeholder="Enter User Naame"><br/>

  <label for="password">Password : </label>
  <input type="password" name="password" placeholder="Enter password"><br/>

  <input type="submit" value="SUBMIT"> <br/>
  <a [routerLink]="['/sign-up']" routerLinkActive="router-link-active" >Sign up</a> <br>
  <a [routerLink]="['/forgot-password']" routerLinkActive="router-link-active" >Forgot Your Password?</a>
</form>
