* {
    box-sizing: border-box;
}

body{
    width: 50%;
    height: 100vh;
    margin: 0 auto;
} 

  #wrapper{
    width: 100%;
    height: 100%;
} 


 #wrapper-search{
    width: 50%;
    /* height: 5%; */
    text-align: center; 

    position: fixed;
    top: 2%;
} 

 #wrapper-results{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-top: 10%;
}

 .wrapper-result-movie-info{
    word-break: break-all;
     margin-bottom: 1%; 
} 

.wrapper-result-movie-basic{
    display: flex;
    flex-direction: row;
    margin-top: 1%;
    justify-content: center;
    border: solid red 10px;
    height: 80%;
}   

img{
    width: 90%;
    height: 60%;
}