<form [formGroup]="formGroup" (submit)="onSubmit($event,formGroup)">
  <div formGroupName="userDetails">
    <label for="username">User Name: </label>
    <input type="text" formControlName="username" name="username"><br><br>
    <label for="password">Password: </label>
    <input type="password" formControlName="password" name="password"><br><br>
  </div>
  <button type="submit">submit</button>

  <div *ngIf="formGroup.invalid && submitClicked">
    <div *ngIf="formGroup.get('userDetails').get('username').errors?.required">
      Please enter user name.
    </div>
    <div *ngIf="formGroup.get('userDetails').get('username').errors?.maxlength">
      user Name can not be more then 10 chars.
    </div>
    <div *ngIf="formGroup.get('userDetails').get('password').errors?.required">
      Please enter password.
    </div>
  </div>

</form>
<h4><a routerLink="/">Sign Up</a></h4>
<h4><a routerLink="/forgotPassword">Forgot Your Password?</a></h4>