#container {
    background-color: cadetblue;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.image_thumbnails {
    background-color: rgba(179, 177, 175, 0.548);
    width: 120vh;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    box-shadow:         inset 0 0 2px #000000;

}
#arrow-right:hover  {
    border-left: 25px solid rgba(19, 18, 17, 0.548);
}
#arrow-left:hover{
    border-right: 25px solid rgba(19, 18, 17, 0.548);
}


#arrow-right {
    margin-left: 6px;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 25px solid  rgba(179, 177, 175, 0.733);
}

#arrow-left {
    margin-right: 6px;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 25px solid transparent;
    border-right: 25px solid  rgba(179, 177, 175, 0.733);
}