#container {
    background-color: cadetblue;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image_thumbnails {
    background-color: rgba(179, 177, 175, 0.548);
    width: 120vh;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.img-tumbnail {
    width: auto;
    height: 100px;
    margin: 5px 5px;
    cursor: pointer;
    filter: blur(2px);
}

.img-tumbnail:hover {
    filter: blur(0px);
}

#arrow-right {
    margin-left: 6px;
    width: 0;
    height: 0;
    border-top: 18px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 25px solid  rgba(179, 177, 175, 0.733);
}

#arrow-left {
    margin-right: 6px;
    width: 0;
    height: 0;
    border-top: 18px solid transparent;
    border-bottom: 25px solid transparent;
    border-right: 25px solid  rgba(179, 177, 175, 0.733);
}