video {
  object-fit: inherit;
  border-radius: 10px;
  margin-left: 15%;
  transition: all .2s;
}

.big-vid {
  width: 70%;
  height: 450px;
}

h1,
h2,
h3,
h4 {
  margin: 5px;
}

@media only screen and (max-width: 1000px) {
  .big-vid-container {
    width: 100%;
  }

}

@media only screen and (max-width: 550px) {
  .big-vid {
    width: 300px;
    height: 250px;
  }

  video {
    margin-left: 10%;
  }
}
