<div class="container">
  <h1>Sign Up</h1>
  <form  [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        
          <input class="form-control" type="text" placeholder="Full Name" name="fullname"  formControlName="fullname" required ><br>
          <input class="form-control" type="email" placeholder="Email" name="email" formControlName="email" required ><br>
          <input class="form-control" type="number" min="18" max="32" placeholder="Age" name="Age" formControlName="Age" required><br>
          <input class="form-control" type="text" name="username" formControlName="UserName" placeholder="User Name" maxlength="10" required ><br>
          <input class="form-control" type="password" placeholder="Password" name="password" formControlName="password" required ><br>

          <button type="submit" class="btn btn-success">Submit</button>
          <button type="reset" class="btn">Reset</button>
      </div>
  </form>
  <button routerLink="" class="btn">Back to sign-in</button>
</div> 