body {
    /* box-sizing: border-box; */
    background-color: lightpink
}
h1{
    position: relative;
    padding-top: 5px;
    color:white;
    box-sizing: border-box; 
    background-color:lightslategray;
    top: -20px;
    left: -10px;
    width: 110%;
    height: 50px;
    text-align: center;
}
#largePic {

    position: absolute;
    top: 60%;
    left: 40%;
    margin-right: 50px;
    margin-top: -350px;
}

#largePic img {
    height: auto;
    width: 240px;

    margin-bottom: 50px;
}

img {
    /* overflow: hidden; */
    background-image: url("loading-indicator-dribbble2.gif");
    background-size: 160px;
    background-repeat: no-repeat;
    
    /* src-erro */
    /* src:"loading-indicator-dribbble2.gif"; */

}

.arrow-right {
    position: absolute;
    left: 250px;
    top: 50%;
    /* top: 50%;
    left: 50%; */
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;

    border-left: 30px solid lightslategray;
}

.arrow-left {
    left: -50px;
    top: 50%;
    position: absolute;
    /* top: 50%;
    left: 50%; */
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;

    border-right: 30px solid lightslategray;
}

#restPic img {
    height: 200px;
    width: 150px;
    margin-right: 30px;
    margin-bottom: 50px;

}

#restPic {
    position: absolute;
    top: 65%;
    left: 5%;
    /* display: flex;
    flex-wrap: wrap; */
}
