<app-add-car></app-add-car>

<app-display-car-license></app-display-car-license>

<app-display-car-range></app-display-car-range>

<app-display-car-manufacturer></app-display-car-manufacturer>

<app-display-car-model></app-display-car-model>

<app-display-car-expensive></app-display-car-expensive>

<div class="container">
    <div class="row">
        <div class="col">
                <a routerLink="../admin" class="text-center d-block bg-info text-light">Admin</a>
        </div>
    </div>
</div>
