/* You can add global styles to this file, and also import other style files */
body,html{
    margin: 0;
    padding: 0;
    width: 100%;
}
body{
    background-color: rgb(225, 231, 235);
    /* position: relative; */
}