<form action="Order" method="post" id="myForm">
  <p>
      <label> Card Number: </label>
      <input id="cn" type="text" required><br>
  </p>
  <p>
      <label> Name of Card: </label>
      <input id="noc" type="text" required><br>
  </p>
  <p>
      <label> Expiry Date: </label>
      <input id="exd" type="date" required><br>
  </p>
  <p>
      <label>Security Code: </label>
      <input id="sc" type="text" maxlength="3" required><br>
  </p>
  <button id="sub" type="button" onclick="submitt()">Submit</button>
</form><br><br>
