<table border="1" id="shoppingCart">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Action</th>
        </tr>
        <tr>
            <td>
                <select id="products" #products>
                    <option id="option0" value="tomatos">Tomatos</option>
                    <option id="option1" value="carrots">Carrots</option>
                </select>
            </td>
            <td>
                <input id="price" type="number" #price min="0">
            </td>
            <td>
                <button (click)="addToCart(products[products.selectedIndex].value,price.value)">Add</button>
            </td>
        </tr>
        <tr *ngFor="let item of items;let i=index" id="{{i}}">
            <td>{{item.name}}</td>
            <td>{{item.price}}</td>
            <td><button (click)="removeFromCart($event)">Remove</button></td>
        </tr>
    </thead>
    <tbody id="customerProducts"></tbody>
    <tfoot>
        <tr id="lastRaw">
            <td style=text-align:center; colspan="3">Total price: {{totalPrice}}<span id="totalPrice"></span></td>
        </tr>
    </tfoot>
</table>
<button routerLink="payment">Procced to Checkout</button>

<app-product *ngFor="let product of products" [src]="product.src"></app-product>