<div class="container">
      <h1>Sign In</h1>
      <form (ngSubmit)="onSubmit()" #userForm="ngForm" >
        <div class="form-group">
          <label for="user">User Name: </label>
          <input type="text" id="user" name="user" class="form-control" required [(ngModel)]="model.user">

          <label for="password">Password: </label>
          <input type="password" id="password" name="password" class="form-control" required
            [(ngModel)]="model.password">
        </div>
        <button type="submit" class="btn btn-success ">submit</button>
      </form>
    
<button routerLink="../forgot" class="btn">forgot password</button>
<button routerLink="../sign-up" class="btn">sign-up</button>
</div>