<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}
  </h1>
  <nav>
    <ul>
      <li>
        <a routerLink="" routerLinkActive="current-page">
          Home
        </a>
      </li>
      <li>
        <a routerLink="about" routerLinkActive="current-page">
          About Us
        </a>
      </li>
      <li>
        <a routerLink="recipes/all" routerLinkActive="current-page">
          Recepis
        </a>
      </li>
    </ul>
  </nav>



</div>
<router-outlet></router-outlet>
