<div class="container">
  <div class="row">
    <div class="col">
      <div [hidden]="!submitted">
        <h1>form submitted</h1>
      </div>
      <form [formGroup]="forgotPass" (ngSubmit)="submit()" [hidden]="submitted">
        <h1>Forgot Password</h1>
        <div class="form-group">
          <input class="form-control" type="email" placeholder="Email" id="email" name="email" required
            formControlName="email">
          <input class="form-control" type="email" placeholder="Confirm email" id="cEmail" name="cEmail" required
            formControlName="cEmail">
          <button class="form-control" type="submit" class="btn btn-success d-block my-3"
            [disabled]="!forgotPass.valid">submit</button>
          <button class="form-control" routerLink="../index-form" class="btn bg-secondary text-light my-3 d-block">Back
            to sign in</button>
        </div>
      </form>
    </div>
  </div> 