<div class="container display-car-manufacturer-wrapper">
  <h2 class="text-center border-bottom border-dark bg-dark text-light">Display car models by manufacturer</h2>
  <form class="row" (submit)="display($event)">
    <div class="col">
      <input type="text" placeholder="enter manufacturer..." #manufacturer>
    </div>
    <div class="col-4">
      <input type="submit" value="display">
    </div>
    <div class="col-12" *ngIf="cars">
      <div *ngFor="let car of cars">
        <div>manufacturer: {{manufacturer.value}} : model : {{car.model}}</div>
      </div>
    </div>
  </form>
</div>