.letters_input
{
    width: 20%;
    padding: 5px 1px;
    margin: 2px 1px;
    font-size: 17px;
    font-weight: 600;
    text-align:center;
    color: #000099;
    display: inline-block;
    border:  3px solid #262626;
    border-radius: 8px;
    box-sizing: border-box;
}


.app_display
{
    font-size: 28px;
    font-weight: 400;
    text-align: center;
    margin: 5% 20% 0% 20%; 
    line-height: 200%; 
    background-color: #99ffcc;

}