<div class="container">
  <div class="bmi-container">
    <h1>מחשבון BMI</h1>
    <div class="bmi-control">
      <form (submit)="calcBmi($event,weight.value,height.value)">
        <input class="inputs" id="height" type="number" step="any" placeholder="גובה" min="0.0" max="2.5" required #height>
        <input class="inputs" id="weight" type="number" step="any" placeholder="משקל" min="0" max="500" required #weight>
        <button id="submit">חישוב</button>
      </form>
      <div>{{result}}</div>
    </div>
  </div>
</div>