<form [formGroup]="formGroup" (submit)="onSubmit($event,formGroup)">
  <input type="text" formControlName="email" placeholder="Email" name="email"><br><br>
  <input type="text" formControlName="confirmEmail" placeholder="Confirm email" name="cEmail"><br><br>

  <div *ngIf="formGroup.invalid && submitClicked">
    <div *ngIf="formGroup.get('email').errors?.required">
      Please enter Your Email.
    </div>
    <div *ngIf="formGroup.get('confirmEmail').errors?.required">
      Please enter Your Confirm email.
    </div>
    <div *ngIf="formGroup.get('email').errors?.email">
      Please enter a correct email.
    </div>
    <div *ngIf="formGroup.get('confirmEmail').errors?.email">
      Please enter a correct Confirm email.
    </div>
  </div>


  <button type="submit">submit</button>
</form>
<h4><a routerLink="/">Back to sign in</a></h4>

<div *ngIf="isSubmit">
    A recovery email was sent to {{formGroup.value.email}}
</div>
<div *ngIf="!sameEmailValues">
    The confirm email is not accurate.
</div>