<h2>group4/Modules/01 JavaScript Programming/Assignments/1 answer :</h2>
<ul>
  <li>
    <h3>typeof animals - {{ get_type(animals) }}</h3>
  </li>
  <li>
    <h3>animals = {{ set_animals(214) }} {{ animals }}</h3>
  </li>
  <li>
    <h3>animals + 300 {{ set_animals(animals+300) }} = {{ animals }}</h3>
  </li>
  <li>
      <h3>animals {{ set_animals(['dog', 'cat', 'lion']) }} = {{ animals }}</h3>
  </li>
  <li>
      <h3>animals[1] = {{ animals[1] }}</h3>
  </li>
</ul>


<h2>group4/Modules/01 JavaScript Programming/Assignments/2 answer :</h2>
<ul>
  <li>
      <h3>typeof var bool = {{ get_type(bool) }} </h3>
  </li>
  <li>
      <h3>typeof var  num = {{ get_type(num) }} </h3>
  </li>
  <li>
      <h3>typeof var str = {{ get_type(str) }} </h3>
  </li>
  <li>
      <h3>typeof var names = {{ get_type(names) }} </h3>
  </li>
</ul>


<h2>group4/Modules/01 JavaScript Programming/Assignments/4 answer :</h2>
<ul>
    <li>
        <h3>var x = {{ x }} </h3>
    </li>
    <li>
        <h3>var y = {{ y }} </h3>
    </li>
  </ul>