<div style="text-align: center; color: red">
  <h1 *ngIf=" falseTimeMessage !== '' "> {{falseTimeMessage}} </h1>
</div>

<div id="whole-container">
  
    <div id="options-container">
      <input 
        #timer
        type="radio" 
        name="count-option" 
        value="timer-choice"
        class="count-radio-option"
        (click)="onclickTimerRadio($event)"
      > 
      &nbsp;
      <span class="text-near-count-radio-option"> Timer </span>  
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  
      
      <input 
        #countDown
        type="radio" 
        name="count-option" 
        value="countdown-choice"
        class="count-radio-option"
        checked
      > 
      &nbsp;
      <span class="text-near-count-radio-option"> Countdown </span>
      &nbsp;&nbsp;&nbsp;&nbsp;
  
      
      <input 
        [disabled] = isInputsDisabled
        type="number" 
        class="from-time-input" 
        min=0
        max=99
        name="startFromInput"
        placeholder="Minutes..."
        #minutesInput
        [(ngModel)]="minutesStartFrom"
      >
      &nbsp;&nbsp;
      <input 
        [disabled] = isInputsDisabled
        type="number" 
        class="from-time-input" 
        min=0
        max=59
        name="startFromInput"
        placeholder="Seconds..."
        #secondsInput
        [(ngModel)]="secondsStartFrom"
      >
      
    </div>
  
  
    <div id="timer-container">
  
      <div id="timer" #timer> {{currentMinutes}}:{{currentSeconds}} </div>
  
      <button 
        type="button" 
        class="timer-button timer-start-button"
        (click)="onclickStartButton()" >
        Start
      </button>
  
      &nbsp;&nbsp;&nbsp;&nbsp;
  
      <button 
        type="button" 
        class="timer-button timer-stop-button"
        (click)="onclickStopButton()" >
        Stop
      </button>
  
      &nbsp;&nbsp;&nbsp;&nbsp;
  
      <button 
        type="button" 
        class="timer-button timer-reset-button"
        (click)="onclickResetButton()" >
        Reset
      </button>
      
    </div>
  
  </div>