#leftMenu {
    text-align: center;
    float: left;
    width: 20%;
    min-height: 849px;
    background-color: #F5F5F5;
}

ol {
    margin-left: 30px;
}

#mainArea {
    float: left;
    width: 70%;
    min-height: 849px;
    display: inline;
}

li {
    cursor: pointer;
	display: inline;
}

a :hover{
    background: dimgrey;
    color: white;

}

th {
    color: darkred;
    cursor: pointer;
}

.contact {
    font-size: 20px;
}

.mail {
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
    display: inline;
    background: lightgrey;
}

a {
    display: block;
    margin: 10px;
    color: darkblue;
}

a[href]:hover{
    font-weight: bold;
}

#leftMenu a:active{
    color: darkgreen;
}

h1 {
    text-align: center;
    background: black;
    color: white;
    padding: 10px;
}

table,
th,
td {
    border: 2px solid darkgrey;
    padding: 5px;
    font-size: 20px;
}
