body {
    background-color: lightgrey;
}

ul,li {
    margin:0;
    padding: 0;
    text-align: center
}

a {
    color:darkblue;
}

a:active {
    color:darkgreen;
}

a:hover {
    font-weight: 900;
}

h1 {
    text-align: center;
    background-color: #000;
    color:#FFF;
    padding: 10px;
    font-size: 8em;
}

h2 {
    color:darkblue;
}

.email {
    font-size: 16px; 
    cursor: pointer;
    margin-left:30px;
}

.contact {
    font-size: 20px;
    cursor: pointer;
    margin-left: 30px;
}

#inbox-table tr:nth-child(-n+4) {
    font-weight: bold;
}

#left-menu {
    float: left;
    width: 20%;
    min-height: 800px;
    background-color: azure;
}

#left-menu ul {
    list-style: none;
}

#main-area {
    float: left;
    width: 75%;
    border: 5px solid darkgrey;
    min-height: 800px;
}

#table-header {
    width:100%;
    height: 50px;
    display: block;
}

#inbox-table , #contacts-table {
    width:85%;
    float: right;
    margin-top:20px;
}

#inbox-table,#inbox-table th,#inbox-table tr,#inbox-table td {
    border: 5px solid darkgrey;
}

#contacts-table, #contacts-table th, #contacts-table tr, #contacts-table td {
    border: 5px solid darkgrey;
}

#inbox-table th,#inbox-table td {
    height: auto;
    text-align: center;
}

#contacts-table th,#contacts-table td {
    height: auto;
    text-align: center;
}

#email-links ,#contact-links {
    width:10%;
    float: left;
}

.theader {
    cursor: pointer;
    background-color: darkred;
}

.tr-email:hover , .tr-contact:hover {
    background-color: DimGrey;
    color:white;
} 