* {
    margin: 0px;
    box-sizing: border-box;
    background-color: lightgrey;
}

h1 {
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px;
}
.email {
    font-size: 16px;
}
table.email:nth-of-type(1){
    font-weight: bold;
}
table.email:nth-of-type(2){
    font-weight: bold;
}
table.email:nth-of-type(3){
    font-weight: bold;
}
.email, .contact {
    margin-left: 30px;
}
#listHeader {
    color: darkred;
}
.contact {
    font-size: 20px;
}
a {
    color: darkblue;
}
a:hover {
    font-weight: bold;
}
nav  a:active {
    color: darkgreen;
}
[border] {
    border: solid 5px darkgrey;
}
.email:hover, .contact:hover {
    background-color: dimgrey;
    color: white;
}
nav {
    position: relative;
    top: 40px;
    float: left;
}
#main {
    position: absolute;
    top: 36px;
    left: 50%;
    margin-left: -400px;
}
#mainFrame {
    position: absolute;
    top: 40px;
    width:800px;
    height: 700px;
    overflow: hidden;
}
nav > ul {
    list-style: none;
}
#mainBox {
    position: relative;
    width: 500px;
    height: 500px;
    top: 0%;
    left: 50%;
    margin-left: -250px;
}
#mainBox > table {
    position: relative;
    top: -11%;
    width : 500px;
}
td[colspan='3'] {
    display: none;
}