<div appPaintMonth>{{ 1 | monthNumberToName }}</div>
<div appPaintMonth>{{ 2 | monthNumberToName }}</div>
<div appPaintMonth>{{ 3 | monthNumberToName }}</div>
<div appPaintMonth>{{ 4 | monthNumberToName }}</div>
<div appPaintMonth>{{ 5 | monthNumberToName }}</div>
<div appPaintMonth>{{ 6 | monthNumberToName }}</div>
<div appPaintMonth>{{ 7 | monthNumberToName }}</div>
<div appPaintMonth>{{ 8 | monthNumberToName }}</div>
<div appPaintMonth>{{ 9 | monthNumberToName }}</div>
<div appPaintMonth>{{ 10 | monthNumberToName }}</div>
<div appPaintMonth>{{ 11 | monthNumberToName }}</div>
<div appPaintMonth>{{ 12 | monthNumberToName }}</div>