/* You can add global styles to this file, and also import other style files */
* {
    padding: 0;
    margin: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background: #AEFFA6;
    color: #113F2C;
    font-family: 'Merriweather', serif;
}