a{
    text-align: center;
    display: inline-block;
}
button
{
    display: block;
    margin: 0 auto;
}

*{
    padding: 10px;
}

input{
    margin-bottom: 15px;
    text-align: center;
}
label{
    text-align: center;
}

input.ng-invalid.ng-touched{
    border: 1px solid red;
}

#links{
    text-align: center;
}