<div class="hide-expand">
  <button class="hide-expand-btn">Expand All</button>
</div>
<div class="search">
  <app-keywords></app-keywords>
  <app-search-including></app-search-including>
  <app-price></app-price>
  <app-buying-formats></app-buying-formats>
  <app-condition></app-condition>
  <app-show-results></app-show-results>
  <app-location></app-location>
  <app-sellers></app-sellers>
  <app-results></app-results>

  <div>
    <input type="submit" value="Search">
    <input type="reset" value="Clear options">
  </div>


</div>
